@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

html,body {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1457144759132-40d119c2f120?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    /* background-size: 100%;
    background-repeat: space; */
    overflow: hidden;
}

main {
	font-family: 'Indie Flower', cursive;
	color: #fff;
	padding: 2em;
	width: 75%;
	min-height: 100vh;
    margin: 10vw auto 0 auto;
}

/* video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	z-index: -9999;
	transform: translateX(-50%) translateY(-50%);
    background: #000; } */
    
.overlay span {
	position: relative;
	opacity: 0;
	top: 1em;
	animation: animateOverlay 1s ease-in-out forwards;
}
.overlay span:nth-child(4n) { animation-delay: 0s; }
.overlay span:nth-child(4n+1) { animation-delay: 1s; }
.overlay span:nth-child(4n+3) { animation-delay: 2s; }
.overlay span:nth-child(4n+2) { animation-delay: 3s; }

@keyframes animateOverlay {
  to {
opacity: 1;
top: 0;
} }


